#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatImagesessiondata" *#
<!-- BEGIN /templates/screens/xnat_imageSessionData/actionsBox/ViewInXImgView.vm -->
<!-- Sequence: 7 -->
#parse("/screens/XImgView.vm")
<li class="yuimenuitem">
    <a href="#" onclick="launchXImgView(); return false;"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>View Legacy XImgView</A>
</li>
<!-- END /templates/screens/xnat_imageSessionData/actionsBox/ViewInXImgView.vm -->
